.MySkills {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.skill_block {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
    font-size: 20px;
}

.MySkills_title {
    color: whitesmoke;
    font-size: 30px;
    font-weight: bold;
}

@media (min-width: 320px) and (max-width: 500px) {
    .skill_block {
        width: 100%;
        overflow-x: auto;
        justify-content: normal;
    }

    .skill {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .MySkills {
        margin-top: 100px;
    }
}