.GetInTouch {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.GetInTouch_title_block {
    color: whitesmoke;
    font-size: 40px;
    position: relative;
}

.GetInTouch_title_block span {
    color: #efad02;
}

.GetInTouch_title_block::after {
    content: 'КОНТАКТЫ'; 
    position: absolute;
    color: #1f1f1f;
    font-size: 100px;
    font-weight: bold;
    top: -5px;
    left: -90px;
    z-index: 2;
}

.GetInTouch_title {
    position: relative;
    z-index: 3;
    text-transform: uppercase;
    font-size: 45px;
}

.GetInTouch_content_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    flex-direction: column;
}

.GetInTouch_info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.GetInTouch_info_contacts {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.GetInTouch_info_text {
    width: 100%;
    text-align: center;
}

.GetInTouch_info_text h3{
    color: whitesmoke;
    font-size: 30px;
}

.GetInTouch_info_text p {
    color: whitesmoke;
}

.GetInTouch_info_item {
    display: flex;
    align-items: center;
    height: 100px;
    width: 30%;
}

.GetInTouch_info_item_text p {
    margin: 0;
    margin-left: 20px;
}

.custom_icon {
    font-size: 50px;
    color: #efad02;
}

.GetInTouch_info_item_title {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
}

.GetInTouch_info_text_content {
    color: whitesmoke;
}

.GetInTouch_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
}

.GetInTouch_form_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.GetInTouch_form button {
    padding: 15px 25px;
    border-radius: 25px;
    border: 1px solid #efad02;
    background: none;
    color: whitesmoke;
    width: 220px;
    text-align: left;
    position: relative;
    font-size: 16px;
    cursor: pointer;
    animation: callButtonAnimation 1s infinite alternate;
    margin-top: 100px;
}

@keyframes callButtonAnimation {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(10px);
    }
}

.GetInTouch_form button::before {
    content: '';
    color: whitesmoke;
    height: 100%;
    width: 23%;
    position: absolute;
    background-color: #efad02;
    top: 0;
    right: 0;
    border-radius: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
}

@media (min-width: 320px) and (max-width: 500px) {
    .GetInTouch {
        height: 800px;
        margin-top: 60px;
    }

    .GetInTouch_title {
        font-size: 30px;
        text-align: center;
    }

    .GetInTouch_title_block::after {
        font-size: 50px;
        top: 13px;
        left: -15px;
    }

    .GetInTouch_content_block {
        height: 100%;
        flex-direction: column;
        margin-top: 50px;
    }

    .GetInTouch_info {
        flex-direction: column;
        width: 100%;
    }

    .GetInTouch_info_contacts {
        flex-direction: column;
    }

    .GetInTouch_info_text {
        width: 100%;
        text-align: center;
    }

    .GetInTouch_info_text h3 {
        font-size: 25px;
    }

    .GetInTouch_info_item {
        justify-content: center;
        width: 100%;
    }

    .GetInTouch_form {
        width: 100%;
        align-items: center;
        margin-top: 50px;
    }

    .GetInTouch_form_item {
        width: 93%;
    }

    .custom_icon {
        width: 30%;
        text-align: center;
    }
    
    .GetInTouch_info_item_text {
        width: 50%;
    }

    .GetInTouch_info_item_text p {
        margin-left: 0;
    } 

    .GetInTouch_form button {
        margin-top: 0px;
    }
}

@media (min-width: 501px) and (max-width: 768px) {
    .GetInTouch {
        height: 800px;
        margin-top: 60px;
    }

    .GetInTouch_title {
        font-size: 40px;
    }

    .GetInTouch_title_block {
        margin-bottom: 50px;
    }

    .GetInTouch_title_block::after {
        font-size: 85px;
        top: 1px;
        left: -60px;
    }

    .GetInTouch_content_block {
        flex-direction: column;
        width: 95%;
    }

    .GetInTouch_info {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .GetInTouch_info_text {
        height: 100%;
    }

    .GetInTouch_info_contacts {
        margin: 0;
        width: 100%;
        flex-direction: column;
    }

    .GetInTouch_info_text {
        width: 100%;
        text-align: center;
    }

    .GetInTouch_info_item {
        justify-content: center;
        width: 100%;
    }

    .GetInTouch_form {
        width: 100%;
        align-items: center;
    }

    .GetInTouch_form_item {
        width: 30%;
    }

    .custom_icon {
        width: 30%;
        text-align: center;
    }
    
    .GetInTouch_info_item_text {
        width: 50%;
    }

    .GetInTouch_form button {
        margin-top: 40px;
    }
}